@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

$blue: #2C95E0;
$green: #3AA76C;

// Шрифт по умолчанию
$fontPrimary: 'Montserrat', sans-serif;
$fontSecondary: 'Roboto', sans-serif;

// Переменные
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1220;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

body {
	margin: 0;
}

// Оболочка
.wrapper {
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	font-family: $fontPrimary;
}

// Основная сетка
.container {
	max-width: $maxWidthContainer + px;
	height: 100%;
	margin: 0 auto;
	@media (max-width: ($md1 + px)) {
		max-width: 970px;
	}
	@media (max-width: ($md2 + px)) {
		padding: 0 20px;
		max-width: 870px;
	}
	@media (max-width: ($md3 + px)) {
		max-width: none;
		padding: 0 20px;
	}
}

// Блоки

.header {
	width: 100%;
	height: 102px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);

	@media (max-width: ($md3 + px)) {
		height: 85px;
		box-shadow: unset;
	}

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;

		@media (max-width: ($md2 + px)) {
			padding: 0 20px;
		}

		@media (max-width: ($md3 + px)) {
			padding: unset;
		}
	}

	&__contact {
		margin-top: 8px;
	}
}

.main {
	display: flex;
	flex-direction: column;
}

.primary {
	max-height: 706px;
	background-repeat: no-repeat;
	background-image: url(img/primary-background.png);
	background-position: 35%;

	@media (max-width: ($md4 + px)) {
		background-image: url(img/primary-background-mobile.png);
		background-position: top;
    	background-size: contain;
	}	

	.container {
		@media (max-width: ($md3 + px)) {
			padding: 0;
		}	
	}

	&__content {
		font-size: 18px;
	}

	&__nav {
		font-size: 14px;
		margin-top: 40px;
		margin-left: 10px;

		@media (max-width: ($md3 + px)) {
			display: none;
		}

		a {
			display: inline-block;
			margin-right: 35px;
			color: black;
			text-decoration: unset;
			padding: 10px 0;
			box-sizing: border-box;
			transition: all 0.1s ease-in-out;
			border-bottom: 1px solid transparent;

			&:hover {
				border-bottom: 1px solid black;
			}

			&:last-child {
				margin: 0;
			}
		}
	}

	&__title {
		font-size: 24px;
		color: $blue;
		margin-top: 130px;
		max-width: 570px;
		
		@media (max-width: ($md2 + px)) {
			padding: 0 20px;
		}

		@media (max-width: ($md4 + px)) {
			font-size: 14px;
			max-width: unset;
			margin: 79px auto auto auto;
			padding: 10px;
			text-align: center;
			background: rgba(255, 255, 255, 0.76);
		}
	}

	&__features {
		margin-top: 36px;

		@media (max-width: ($md2 + px)) {
			padding: 0 20px;
		}

		@media (max-width: ($md3 + px)) {
			font-size: 12px;
			margin-top: 46px;
		}

		&-list {
			margin-top: 15px;
			list-style: none;
			padding: 0;
			max-width: 900px;

			@media (max-width: ($md3 + px)) {
				margin-top: 8px;
			}
		}
	}

	&__feature {
		padding: 11px 10px 11px 42px;
		display: inline-block;
		min-width: 320px;
		position: relative;

		@media (max-width: ($md3 + px)) {
			padding: 14px 10px 0px 31px;
		}

		&::before {
			position: absolute;
			content: "";
			display: block;
			width: 24px;
			height: 24px;
			left: 0;
			top: 8px;
			background-image: url(img/icon-mark-green.svg);
		}

		&:nth-child(1)::before {
			background-image: url(img/icon-mark-green.svg);
		}
		&:nth-child(2)::before {
			background-image: url(img/icon-mark-blue.svg);
		}
		&:nth-child(3)::before {
			background-image: url(img/icon-mark-violet.svg);
		}
		&:nth-child(4)::before {
			background-image: url(img/icon-mark-darkblue.svg);
		}
	}

	&__text {
		margin-top: 74px;
		max-width: 700px;
		margin-bottom: 130px;

		span:last-child {
			display: none;
		}

		@media (max-width: ($md2 + px)) {
			padding: 0 20px;
		}

		@media (max-width: ($md3 + px)) {
			font-size: 12px;
			margin-top: 28px;
			margin-bottom: 32px;

			span {
				&:first-child {
					display: none;
				}

				&:last-child {
					display: inline;
				}
			}
		}
	}
}

.services {
	&__content {
		margin-top: 40px;

		@media (max-width: ($md3 + px)) {
			margin-top: 16px;
		}
	}

	&__items {
		width: 100%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		margin-top: 62px;

		@media (max-width: ($md3 + px)) {
			flex-direction: column;
			align-items: center;

			margin-top: 8px;
		}
	}
	
	&__item {
		width: 300px;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 25px;
		margin-bottom: 20px;
		padding: 15px 10px;
		border: 1px solid;
		border-image: linear-gradient(270deg, #2C95E0 0%, rgba(44, 149, 224, 0) 78.73%);
		-moz-border-image: -moz-linear-gradient(270deg, #2C95E0 0%, rgba(44, 149, 224, 0) 78.73%);
		-webkit-border-image: -webkit-linear-gradient(270deg, #2C95E0 0%, rgba(44, 149, 224, 0) 78.73%);
		border-image-slice: 1;

		@media (max-width: ($md3 + px)) {
			width: 75%;
			padding: 16px 22.5px;
			margin: 0;
			flex-direction: row;
			justify-content: space-between;
		}
	}

	&__image {
		img {
			@media (max-width: ($md3 + px)) {
				width: 90px;
				height: 90px;
			}
		}
	}

	&__text {
		margin-top: 24px;
		font-family: $fontSecondary;
		font-size: 24px;
		font-style: normal;
		font-weight: normal;
		text-align: center;

		@media (max-width: ($md3 + px)) {
			display: block;
			width: 50%;
			font-size: 14px;
			margin-top: 0px;
		}
	}
}

.conditions {
	background-repeat: no-repeat;
	background-image: url(img/conditions-background.png);
	background-position: 35%;
	background-size: cover;

	@media (max-width: ($md3 + px)) {
		background-image: unset;
	}

	&__body {
		display: flex;
		// justify-content: space-between;
		margin-top: 44px;

		@media (max-width: ($md3 + px)) {
			flex-direction: column;
			margin-top: 8px;
			margin-left: 15px;
		}
	}

	&__text {
		font-size: 20px;

		@media (max-width: ($md3 + px)) {
			font-size: 14px;
		}
	}

	&__items {
		// max-width: 700px;
		margin-left: 70px;

		@media (max-width: ($md3 + px)) {
			margin: 0;
			margin-top: 23px;
		}
	}

	&__item {
		font-size: 18px;
		display: inline-block;
		min-width: 200px;
		// margin-right: 60px;
		margin: 0 30px;
		margin-bottom: 32px;
		position: relative;

		@media (max-width: ($md3 + px)) {
			min-width: unset;
			display: inline-flex;
			width: 120px;
			height: 34px;
			margin: 0;
			margin-left: 30px;
			margin-bottom: 30px;
			position: relative;
			font-size: 14px;
		}

		&:last-child {
			margin-right: 0;
		}

		&::before {
			position: absolute;
			content: "";
			width: 15px;
			height: 15px;
			background-color: $green;
			left: -23px;
			top: 3px;
			
			@media (max-width: ($md3 + px)) {
				width: 7px;
				height: 7px;
				top: 5px;
			}
		}
	}
}

.features {
	&__body {
		margin-top: 36px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		@media (max-width: ($md3 + px)) {
			justify-content: flex-start;
		}
	}

	&__item {
		font-family: $fontPrimary;
		font-size: 20px;
		padding: 18px 0 18px 72px;
		margin-right: 30px;
		margin-bottom: 20px;
		position: relative;

		@media (max-width: ($md3 + px)) {
			font-size: 14px;
			padding: 3px 56px 0px 3px;
			width: 75%;
			height: 35px;
			margin-left: 20px;
			/* vertical-align: middle; */
			display: flex;
			align-items: center;
		}

		&:last-child {
			margin-right: 0;
		}

		&::before {
			position: absolute;
			content: "";
			width: 60px;
			height: 60px;
			left: 0;
			top: 0;
			display: block;
			background-repeat: no-repeat;
			background-size: contain;

			@media (max-width: ($md3 + px)) {
				width: 40px;
				height: 40px;
				left: unset;
				right: 0;
			}
		}

		&:nth-child(1)::before {
			background-image: url(img/icon-feature-1.svg);
		}

		&:nth-child(2)::before {
			background-image: url(img/icon-feature-2.svg);
		}

		&:nth-child(3)::before {
			background-image: url(img/icon-feature-3.svg);
			top: 6px;
			right: 25px;
		}
	}
}

.contacts {
	// min-height: 500px;

	&__body {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;

		@media (max-width: ($md3 + px)) {
			margin-left: 20px;
			flex-direction: column;
			align-items: center;

			iframe {
				width: 90%;
				height: 300px;
				margin-top: 10px;
			}
		}

		@media (max-width: ($md4 + px)) {
			iframe {
				width: 250px;
				height: 200px;
				margin-top: 10px;
			}
		}
	}

	&__contact {
		margin-top: 60px;
		max-width: 40%;

		@media (max-width: ($md3 + px)) {
			margin-top: 8px;
			max-width: unset;
		}

		.contact-title {
			display: block;
			font-family: $fontPrimary;
			font-size: 18px;
			margin-bottom: 16px;
		}
	}
}

.gallery {
	&__content {
		&::after {
			display: none !important;
		}
	}

	&__body {
		margin-top: 60px;
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;

		@media (max-width: ($md3 + px)) {
			margin-top: 8px;
			justify-content: center;
		}
	}

	&__image {
		margin-right: 8px;
		margin-bottom: 23px;

		@media (max-width: ($md4 + px)) {
			img {
				width: 150px;
				height: 150px;
			}
		}

		&:last-child {
			margin-right: 0;
		}
	}
}

.footer {
	width: 100%;
	height: 102px;
	background: #4F4F4F;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);

	@media (max-width: ($md3 + px)) {
		height: 85px;
		box-shadow: unset;
	}

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		color: white;

		a {
			color: white !important;
		}

		@media (max-width: ($md2 + px)) {
			padding: 0 20px;
		}

		@media (max-width: ($md3 + px)) {
			padding: unset;
		}
	}

	&__contact {
		margin-top: 8px;
	}
}

// Мелкие элементы

.logo {
	@media (max-width: ($md3 + px)) {
		display: none;
	}

	&--mobile {
		display: none;
		
		@media (max-width: ($md3 + px)) {
			display: block;
		}
	}

}

.spoiler {
	@media (max-width: ($md3 + px)) {
		position: relative;
		margin-bottom: 8px;

		&::after {
			position: absolute;
			content: "";
			display: block;
			width: calc(100% - 22px);
			height: 1px;
			left: 11px;
			bottom: -8px;
			background-color: rgba(0, 0, 0, 0.71);
		}
	}

	&__content {
		transition: display 0.15s ease-in-out;

		@media (max-width: ($md3 + px)) {
			display: none;
		}
	}

	&__input {
		display: none;
		transition: display 0.15s ease-in-out;

		@media (max-width: ($md3 + px)) {
			&:checked ~ .spoiler__content {
				display: flex;
			}

			&:checked + .spoiler__title {
				&::after {
					background-image: url(img/arrow-bottom.svg);
					transform: rotate(180deg);
				}
			}
		}
	}

	&__title {
		font-family: $fontSecondary;
		font-size: 24px;
		position: relative;
		display: inline-block;
		margin-top: 58px;

		@media (max-width: ($md3 + px)) {
			margin-top: 0;
		}
	
		&::before {
			content: "";
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			border-top: 2px solid $green;
			border-left: 2px solid $green;
			top: -16px;
			left: -16px;
		}

		@media (max-width: ($md3 + px)) {
			display: block;
			font-family: $fontPrimary;
			font-size: 14px;
			color: $blue;
			text-transform: uppercase;
			padding: 13px 10% 13px 10px;
			position: relative;
			width: 85%;

			&::before {
				display: none;
			}

			&::after {
				position: absolute;
				content: "";
				width: 24px;
				height: 24px;
				right: 0px;
				top: 11px;
				transition: all 0.15s ease-in-out;
				background-image: url(img/arrow-bottom.svg);
			}
		}
	}
}

.contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	font-size: 14px;

	@media (max-width: ($md3 + px)) {
		font-size: 12px;
	}

	&>* {
		margin-bottom: 4px;
	}

	a {
		color: black;
		text-decoration: unset;
		display: inline-block;
	}

	&-title {
		display: none;

		@media (max-width: ($md4 + px)) {
			display: inline;
			text-align: right;
		}
	}

	&__phone,
	&__mail,
	&__address {
		margin-left: 16px;
		position: relative;
		padding: 5px 0;
		padding-left: 35px;

		@media (max-width: ($md4 + px)) {
			padding: 0;
		}

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 2px;
			width: 24px;
			height: 24px;
			display: block;

			@media (max-width: ($md4 + px)) {
				display: none;
			}
		}
	}

	&__phone::before {
		background-image: url(img/icon-phone.svg);
	}

	&__mail {
		&::before {
			background-image: url(img/icon-mail.svg);
		}

		@media (max-width: ($md2 + px)) {
			display: none;
		}
	}

	&__address {
		&::before {
			background-image: url(img/icon-address.svg);
		}

		@media (max-width: ($md2 + px)) {
			display: none;
		}
	}

	&__phones {
		display: block;

		@media (max-width: ($md4 + px)) {
			display: flex;
			flex-direction: column;
			text-align: right;

			&>* {
				margin-bottom: 4px;
			}
		}
	}

	&--mobile-view {
		.contact-title {
			display: block;
		}

		.contact__phone,
		.contact__mail,
		.contact__address {
			// font-size: 14px;
			// padding-left: 34px;
			// display: inline-block;
			// height: 30px;
			// display: flex;
			// align-items: center;

			@media (max-width: ($md3 + px)) {
				font-size: 14px;
				padding-left: 34px;
				display: inline-block;
				height: 30px;
				display: flex;
				align-items: center;
	
			}

			&::before {
				@media (max-width: ($md4 + px)) {
					display: block;
				}
			}
		}

		.contact__address {
			@media (max-width: ($md2 + px)) {
				display: block;
			}

			@media (max-width: ($md3 + px)) {
				height: 50px;
			}

		}
	}

	&--start {
		align-items: flex-start;
	}
}